<div class="task-header">
  <h1><%= @task.title %></h1>
  <button type="button" class="btn btn-light" id="edit-btn">
    <%= link_to edit_task_path(@task) do %>
    <i class="fas fa-pen"></i> Edit this Task
    <% end %>
  </button>
</div>

<div class="group">
  <div class="breadcrumb" id="details">
    <p class="breadcrumb-item active"><%= @task.details %></p>
  </div>
  <p>
    <% if @task.completed == true then  %>
      <% checked = "checked"%>
      <% message = "This task is completed" %>
    <% else %>
      <% checked = ""%>
      <% message = "This task is not completed yet" %>
    <% end %>
    <input type="checkbox" value="completed" <%= checked %>>
    <%= message %>
  </p>


  <hr>
  <%= link_to tasks_path do %>
    <i class="fas fa-undo"></i> Back to List
  <% end %>
</div>
